<div id="footer" class="panel">
  <div class="panel-footer">
	<div class="container-fluid">
	  <div class="row">

		<div class="col-sm-4" style="color: white">
		  Contact:<br />
		  Village-Mardana,<br />
		  Tehsil-Sanawad, Barwaha<br />
		  District-Khargone 451113, India<br />
            (<a href="https://goo.gl/maps/9B7JRv3jFAHKLuE86">Google Map- Directions</a>)
		</div>
		
		  <div class="col-sm-4" style="color: white">
			  Our Social Media accounts:
			 <ul  style="color:white;">
				 <li><a href="https://fb.com/villagemardana"> <b>@VillageMardana-Facebook</b></a></li>
				 <li><a href="https://instagram.com/village_mardana/"> <b>@village_mardana-Instagram</b></a></li>
				 <li><a href="https://www.youtube.com/channel/UCX4K9SUc5FYD5loUYMnuElg"> <b>Youtube Channel</b></a></li>
			  	 <li><a href="#"> <b>WhatsApp Group</b></a></li>
			  </ul>
    		</div>

		<div class="col-sm-4" style="color: white">
		  <br><br><p>&copy 2020 Village Mardana. Site created by  <a href="https://www.linkedin.com/in/ajay-choudhary-7576277a/">Ajay Choudhary</a>;</p>
    		</div>

	  </div>
	</div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/js/bootstrap.min.js"></script>
