<div id="footer" class="panel">
  <div class="panel-footer">
	<div class="container-fluid">
	  <div class="row">

		<div class="col-sm-4" style="color: white">
		  Contact:
			
			<!-- Load Facebook SDK for JavaScript -->
      <div id="fb-root"></div>
      <script>
        window.fbAsyncInit = function() {
          FB.init({
            xfbml            : true,
            version          : 'v9.0'
          });
        };

        (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = 'https://connect.facebook.net/hi_IN/sdk/xfbml.customerchat.js';
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));</script>

      <!-- Your Chat Plugin code -->
      <div class="fb-customerchat"
        attribution=setup_tool
        page_id="283811601956175"
  theme_color="#0A7CFF"
  logged_in_greeting="नमस्ते,नर्मदे हर।  हम आपकी किस प्रकार से मदद कर सकते हैं ?"
  logged_out_greeting="नमस्ते,नर्मदे हर।  हम आपकी किस प्रकार से मदद कर सकते हैं ?">
      </div>
			
			
			<br />
		  Village-Mardana, Tehsil-Sanawad,<br />
		   Dist-Khargone, MP, India<br />
            (<a href="https://goo.gl/maps/9B7JRv3jFAHKLuE86">Google Map- Directions</a>)
		</div>
		
		  <div class="col-sm-4" style="color: white">
			  </br>
		  	Our Social Media accounts:
			 <ul  style="color:white;">
				 <li><a href="https://fb.com/villagemardana"> <b>@Facebook-</b></a></li>
				 <li><a href="https://instagram.com/village_mardana/"> <b>@Instagram </b></a></li>
				 <li><a href="https://www.youtube.com/channel/UCX4K9SUc5FYD5loUYMnuElg"> <b>@Youtube</b></a></li>
			  </ul>
    		</div>

		<div class="col-sm-4" style="color: white">
		  <br><br><p>&copy 2021 Village Mardana. Site created by  <a href="https://www.facebook.com/ajaychoudhary13">Ajay Choudhary</a>;</p>
    		</div>

	  </div>
	</div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/js/bootstrap.min.js"></script>
