---
layout: default
---

  <div id="homeid" class="col-sm-8">
        <h1>नमस्ते !</h1>

	{{ content }}
  </div>
  <div id="newsid" class="col-sm-4" >
	<div class="col-sm-12">
	    <b>EVENTS (कार्यक्रम):</b>
		</br>
	<div class="fb-page" data-href="https://www.facebook.com/VillageMardana/" data-tabs="events, timeline" data-width="" data-height="" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/VillageMardana/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/VillageMardana/">Mardana, Madhya Pradesh</a></blockquote></div></br>
	</br>


 </div>

  </div>
