---
layout: default
---

  <div id="homeid" class="col-sm-8">
        <h1>Welcome !</h1>

	{{ content }}
  </div>
  <div id="newsid" class="col-sm-4" >
	<div class="col-sm-12">
	    <b>EVENTS:</b>
	<div class="fb-page" data-href="https://www.facebook.com/villagemardana" data-tabs="events" data-width="" data-height="" data-small-header="true" data-adapt-container-width="true" data-hide-cover="true" data-show-facepile="true"><blockquote cite="https://www.facebook.com/villagemardana" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/villagemardana">Mardana, Madhya Pradesh</a></blockquote></div>
	</br>
	</br>
	<b>Facebook Feed: </b>
	<div class="fb-page" data-href="https://www.facebook.com/villagemardana" data-tabs="timeline" data-width="" data-height="" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/villagemardana" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/villagemardana">Mardana, Madhya Pradesh</a></blockquote></div>
	</br>


 </div>

  </div>
